.countDown-timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    font-family: cursive;
    align-items: center;
    font-size: 30px;
}

.countDown-timer .dash {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.countDown-timer  .dash_title {
    font-size: 25px;
    padding: 0 5px;
}