.swal2-popup.sweet-alert-rounded {
    border-radius: 15px;
}

.btn-telegram {
    background-color: white;
    border-color: #0088cc;
    color: #0088cc;
}
.btn-telegram:hover {
    background-color: #0088cc;
    border-color: #0088cc;
    color: white;
}
.btn-email {
    background-color: white;
    border-color: #BB001B;
    color: #BB001B;
}
.btn-email:hover {
    background-color: #BB001B;
    border-color: #BB001B;
    color: white;
}