
@font-face {
    font-family: sfpro-bold;
    src: url(./fonts/SFPro-BlackItalic.ttf);
}
@font-face {
    font-family: sfpro;
    src: url(./fonts/SFPro-LightItalic.ttf);

}

button:active, a:active {
    background-color:unset !important;
    border-color: unset !important;
}
button:focus, a:focus {
    box-shadow:unset !important;
    background-color: unset !important;
    color: unset !important;
    border-color: unset !important;
}

.form-control:focus {
    border-color: #6B0087;
    box-shadow: unset;
}
.btn-outline-primary {
    color: #6B0087;
    border-color: #6B0087;
}
.btn-outline-primary:hover {
    background-color: #6B0087;
    border-color: #6B0087;
}
.btn-primary {
    background-color: #6B0087;
    border-color: #6B0087;
}
.btn-primary:hover {
    background-color: #6B0087;
    border-color: #6B0087;
}
.btn-telegram {
    background-color: white;
    border-color: #0088cc;
    color: #0088cc;
}
.btn-telegram:hover {
    background-color: #0088cc;
    border-color: #0088cc;
    color: white;
}
.btn-email {
    background-color: white;
    border-color: #BB001B;
    color: #BB001B;
}
.btn-email:hover {
    background-color: #BB001B;
    border-color: #BB001B;
    color: white;
}
.modal-content {
    border-radius: 20px;
}
.welcome-Title {
    z-index: 1;
    font-size: calc(2rem + 6vw);
    color: #303030;
    font-family: sfpro-bold;
    line-height: 0.8;
}

.welcome-description {
    font-family: sfpro;
    font-size: calc(1.5rem + 2vw);
    line-height: 0.6;

}


.btn-redirect-where {
       font-size: calc(0.1rem + 1.7vw);
       padding: 5px 20px;
       margin-top: 60px;
       border-radius: 12px;
}





/* style where to start page */

.background-where-to-start {
    width: 100vw;
    height: 100vh;
}

.background-where-to-start img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steps-boxes{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 900px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-box {
    position: relative;
}

.step-child-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;

}

.step-box .step-logo{
    width: 60px;
    height: 60px;
}

.step-box .step-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step-box .step-title {
    color: white;
    font-size: 26px;
    font-family: sfpro-bold;
    padding-top: 10px ;
    margin-bottom: 0px;
}

.step-box .step-button{
    background-color: transparent;
    border: unset;
    color: #04d5ff;
    font-size: 22px;
    z-index: 20;
}

.step-box .step-button:active, 
.step-box .step-button:focus {
    background-color: transparent !important;
    border: unset;
    color: #04d5ff !important;
    font-size: 22px;
}

.step-box .step-button span{
    font-size: 15px;
}


.step-child-box.step-one {
    margin: 0 auto;

}
.step-child-box.step-two {
    margin-left: 65px;
    margin-right: auto;    

}
.step-child-box.step-three {
    margin-right: 0;
    margin-left: auto;    

}
.step-child-box.step-four {
    margin-left: 20%;
    margin-right: auto;    
}
.step-child-box.step-five {
    margin-right: 15%;
    margin-left: auto;
}

.step-line  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.step-child-box.step-one:before {
    content: "";
    background-image: url(./img/Lines/slice1.png);
    width: 26%;
    height: 100%;
    bottom: -120px;
    left: 212px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}


.step-child-box.step-two:before {
    content: "";
    background-image: url(./img/Lines/slice2.png);
    width: 65%;
    height: 100%;
    bottom: -110px;
    left: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}


.step-child-box.step-three:before {
    content: "";
    background-image: url(./img/Lines/slice3.png);
    width: 52%;
    height: 100%;
    bottom: -119px;
    right: 98px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}

.step-child-box.step-four:before {
    content: "";
    background-image: url(./img/Lines/slice4.png);
    width: 26%;
    height: 100%;
    bottom: -117px;
    left: 315px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}


@media (max-width:767px){
    .steps-boxes{
        padding: 20px 5px;
        max-width: 375px;
        max-height: 670px;
        bottom: 0;
        margin: auto;
    }
    .step-child-box {
        max-width: 150px;
    }
    .step-box .step-logo{
        width: 40px;
        height: 40px;
    }
    .step-child-box.step-three .step-logo{
        width: 50px;
        height: 50px;
    }
    .step-box .step-title {
        font-size: 16px;
    }
    .step-box .step-button{
        font-size: 14px;
    }
    .step-child-box.step-two {
        margin-left: 0px;
        margin-right: auto;    
    }
    .step-child-box.step-three {
        margin-right: 0;
        margin-left: auto;    
    
    }
    .step-child-box.step-four {
        margin-left: 0;
        margin-right: auto;    
    }
    .step-child-box.step-five {
        margin-right: 0;
        margin-left: auto;
    }
    .step-child-box.step-one:before {
        width: 33%;
        bottom: -94px;
        left: 59px;
    }
    
    .step-child-box.step-two:before {
        width: 58%;
        bottom: -106%;
        left: 55px;
    }
    
    .step-child-box.step-three:before {
        width: 55%;
        bottom: -106%;
        right: 70px;
    }
    
    .step-child-box.step-four:before {
        width: 55%;
        bottom: -78px;
        left: 57px;
    }
}


@media ( min-width: 768px ) and ( max-width:1024px ){
    .steps-boxes{
        padding: 20px 5px;
        max-width: 680px;
        max-height: 800px;
        bottom: 0;
        margin: auto;
    }
    .step-child-box {
        max-width: 180px;
    }
    .step-box .step-logo{
        width: 50px;
        height: 50px;
    }
    .step-child-box.step-three .step-logo{
        width: 60px;
        height: 60px;
    }
    .step-box .step-title {
        font-size: 18px;
    }
    .step-box .step-button{
        font-size: 16px;
    }
    .step-child-box.step-two {
        margin-left: 0px;
        margin-right: auto;    
    }
    .step-child-box.step-three {
        margin-right: 0;
        margin-left: auto;    
    
    }
    .step-child-box.step-four {
        margin-left: 15%;
        margin-right: auto;    
    }
    .step-child-box.step-five {
        margin-right: 25%;
        margin-left: auto;
    }
    .step-child-box.step-one:before {
        width: 36%;
        bottom: -117px;
        left: 106px;
    }
    
    .step-child-box.step-two:before {
        width: 74%;
        bottom: -116px;
        left: 55px;
    }
    
    .step-child-box.step-three:before {
        width: 60%;
        bottom: -130px;
        right: 70px;
    }
    
    .step-child-box.step-four:before {
        width: 55%;
        bottom: -95px;
        left: 172px;
    }
}


